.datalist-container {
  position: relative;
}

.form-datalist {
  width: 100%;
}

.form-type--datalist .clear {
  position: absolute;
  bottom: 4px;
  right: 30px;
  background: none;
  border: none;
  font-size: 13px;
}

.form-type--datalist .clear.not-visible {
  opacity: 0;
  transition: 250ms ease-in-out all;
  z-index: -1;
}

.form-type--datalist .clear.visible {
  opacity: 1;
  z-index: 1;
}

.datalist__down-button {
  position: absolute;
  bottom: 3px;
  right: 12px;
  pointer-events: none;
  font-size: 16px;
}

/** GIN */
.gin--edit-form .datalist__down-button {
  bottom: 9px;
  right: 20px;
}

.gin--edit-form  .form-type--datalist .clear {
  bottom: 9px;
  right: 36px;
}

.gin--dark-mode .gin--edit-form  .form-type--datalist .clear {
  color: #FFF;
}
