{#
/**
 * @file
 *
 * Default theme implementation for a 'datalist' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - clear_button: The clear button
 * - options: the datalist options
 * - use_keys: use the options keys as value and the values as labels.
 *
 * @see template_preprocess_datalist()
 *
 * @ingroup themeable
 */
#}
<div class="datalist-container">
    <input{{ attributes }} />
    {% if clear_button %}
        <button class="clear not-visible" tabIndex="-1" type="button">
            <span aria-hidden="true">{{ clear_button }}</span>
            {% if clear_button_description %}
                <span class="visually-hidden">{{ clear_button_description }}</span>
            {% endif %}
        </button>
        <span class="datalist__down-button">{{ down_button }}</span>
    {% endif %}
    <datalist id="{{ attributes.list }}">
        {% for key, option in options %}
            {% if use_keys %}
                <option value="{{ key }}">{{ option }}</option>
            {% else %}
                <option value="{{ option }}"></option>
            {% endif %}
        {% endfor %}
    </datalist>
    {{ children }}
</div>
